<p>Hello <%= @email %>,</p>

<p>This is a friendly reminder that the book "<%= @book.title %>" you borrowed is due for return on <%= @due_date.strftime('%B %d, %Y') %>.</p>

<p>Please ensure to return it on time to avoid penalties.</p>

<p>Thank you,</p>
<p>Your Library Team</p>
